// settings
html {
	&.lock {
		overflow: hidden;
	}
}
a {
	transition: .2s;
	text-decoration: none;
}
button {
	font-family: ProximaNovaCond;
	outline: none;
}
input {
	font-family: ProximaNovaCond;
	outline: none;
}
.row {
	@include row();
}
.wrapper {
	@include wrapper();
}
body {
	background-color: #fff;
	font-family: ProximaNovaCond;
	font-size: 18px;
}
img {
	width: 100%;
}
h1 {
	font-size: 45px;
}
h2 {
	font-size: 40px;
}
.mobile-hide {
	@media (max-width: $break_sm) {
		display: none;
	}
}
.mobile-visible {
	@media (min-width: $break_sm + 1) {
		display: none;
	}
}
.img-responsive {
	position: relative;
	overflow: hidden;
	img {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	&:after {
		content: '';
		display: block;
		padding-top: 56.25%;
	}
}
.btn {
	display: inline-block;
	width: 100%;
	max-width: 212px;
	padding: 10px 30px;
	border-radius: 5px;
	background-color: $red;
	font-size: 18px;
	color: #fff;
	text-align: center;
	&:hover {
		box-shadow: 3px 3px 0 rgba(211, 211, 211, 0.6);
	}
}
// /settings

// header 
.header {
	
}

// info
.info {
	display: flex;
	justify-content: space-between;
	padding: 32px 0 16px;
	align-items: center;
	&_btn {
		padding-right: 0;
	}
	@media (max-width: $break_sm) {
		padding: 15px 0 10px;
	}
}
.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&_img {
		width: 100%;
		max-width: 76px;
	}
	&_content {
		padding-left: 20px;
		max-width: 460px;
	}
	&_title {
		font-size: 30px;
		font-weight: 500;
		color: #000;
		text-transform: uppercase;
	}
	&_text {
		font-size: 16px;
		color: $gray;
	}
	@media (max-width: $break_md) {
		&_text {
			display: none;
		}
	}
	@media (max-width: $break_sm) {
		&_img {
			max-width: 30px;
		}
		&_title {
			font-size: 18px;
		}
	}
}
.callback {
	text-align: right;
	&_btn {
		margin-bottom: 16px;
	}
	&_text {
		font-size: 16px;
	}
	@media (max-width: $break_sm) {
		display: none;
	}
}
// /info

// /header

// hotline
.hotline {
	overflow: hidden;
	&_block {
		margin-top: 45px;
		padding: 38px 10px 15px 316px;
		border-radius: 3px;
		background: url(../img/hotline-bg.jpg) left top;
		background-size: cover;
		position: relative;
	}
	&_img {
		width: 273px;
		position: absolute;
		left: 22px;
		bottom: 0;
		&:after {
			padding-top: 94.5%;
		}
		img {
			display: block;
			top: auto;
			bottom: 0;
		}
	}
	&_title {
		margin-bottom: 21px;
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&_text {
		margin-bottom: 19px;
		font-size: 17px;
	}
	&_list {
		display: flex;
		flex-wrap: wrap;
	}
	&_item {
		width: 33.33%;
		margin-bottom: 20px;
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		padding-left: 10px;
	}
	&_link {
		font-size: 26px;
		color: $black;
		white-space: nowrap;
	}
	&_span {
		display: block;
		width: 100%;
		padding: 3px 0 3px 10px;
		font-size: 16px;
		border-left: 1px solid $red;
	}
	@media (max-width: $break_md) {
		&_block {
			padding: 38px 10px 15px 380px;
		}
		&_img {
			width: 400px;
			left: -40px;
		}
		&_item {
			width: 100%;
		}
	}
	@media (max-width: $break_sm) {
		&_block {
			padding: 30px 10px 110px 20px;
			margin-top: 12px;
		}
		&_title {
			margin-bottom: 10px;
			font-size: 20px;
		}
		&_text {
			margin-bottom: 12px;
		}
		&_img {
			width: 48%;
			left: auto;
			right: -22px;
		}
		&_item {
			margin-bottom: 12px;
		}
	}
	@media (max-width: $break_xs) {
		&_img {
			width: 225px;
		}
		&_item {
			&:nth-child(3) {
				.hotline_span {
					max-width: 100px;
				}
			}
		}
	}
}
// /hotline